*.class
*.jar
*.war
*.ear
*.log
*.iml
hs_err_pid*.log

.DS_Store

.gradle
build/
!gradle-wrapper.jar
.gradletasknamecache

/.idea
/.idea_modules
/.sbtserver
.sbtserver
.sbtserver.lock
/.classpath
/.project
/.settings
/RUNNING_PID
/projectFilesBackup*

logs
target/
.cache
.cache-*
.history
.lib/
dist/*
lib_managed/
src_managed/
.scala_dependencies
.worksheet

!activator-launch-*.jar

recordings/
TempFiles/

/bin/
