@import _root_.musicWebApp.models.{Recording, Performer, Soloist, Ensemble, Conductor}
@import _root_.musicWebApp.controllers.PerformerData
@import helper._


@(p: Performer, rs: Seq[Recording], modeReadOnly: Boolean, performerForm: Form[PerformerData])(implicit messages: Messages)


@main("Classic Music Service") {

<h3><u>Performer</u>: @{p.name} (@{p.performerType})</h3>

<table>
    <tr>
        @form(action = musicWebApp.controllers.routes.WebApplication.performerUpdate(p.id.get)) {

        <td>
            @input(performerForm("name"), '_label -> "Name:", '_showConstraints -> false, '_showErrors -> true) { (id, name, value, args) =>
            <input id="inputName" type="text" name="@name" value="@value" size="50" maxlength="200" @toHtmlArgs(args) />
            }

            @select(field = performerForm("performerType"),
            options = options(Map(  "" -> "Select a Performer Type",
            Soloist.toString -> Soloist.toString,
            Ensemble.toString -> Ensemble.toString,
            Conductor.toString -> Conductor.toString)),
            'id -> "selectPerformerType",
            '_label -> "Performer Type:", '_showConstraints -> false, '_showErrors -> true)
        </td>

        <td align="right" valign="bottom">
            <input type="button" value="XXXXX" style="visibility:hidden" />
            <input id="buttonUpdate" type="submit" value="Update"/>
        </td>
        }
    </tr>
</table>

<dl class=" " id="recordingss_list">

    <dt><label id="labelCurrentRecordings">Current Recordings: @if(!p.recordings.isEmpty) { (select to delete) }</label></dt>
    <dd>
        <table>
            <tr>
                <td>
                    <div id="divNoRecordings">-- No Recordings yet --</div>
                    <select multiple="multiple" id="selectRecordingsToDelete" name="recordingsToDelete" size="5" style="width:350px" >
                        @for( r <- p.recordings ) {
                        <option value="@r.id">@r.title, @r.composer, @r.year</option>
                        }
                    </select>
                </td>
                <td align="right" valign="bottom">
                    <input id="buttonDeleteRecordings" type="button" value="Delete Recordings" onclick='deleteRecordingsFromPerformer(this);' />
                </td>
            </tr>
        </table>
    </dd>

    <hr style="width:40%; text-align:left; margin-left:0" />

    <dt>
        <p>You cannot delete this performer as long as recordings are assigned to him. First delete the recordings of this performer. Then you can delete the performer. </p>
        <label id="labelUnassignedRecordings">Unassigned Recordings: @if(!rs.isEmpty) { (select to add) }</label>
        <input type="button" value="XXXXX XXXXX XXXXX XXXXX" style="visibility:hidden" />
        <input id="buttonDelete" type="button" value="Delete" onclick='deletePerformer(this);'/>
        <input id="buttonEdit" type="button" value="Edit" onclick='setReadOnly(false);' />
        <input id="buttonCancel" type="button" value="Cancel" onclick='setReadOnly(true);' />
        <button onclick="history.go(-1);">Go back</button>
    </dt>

    <dd>
        <table>
            <tr>
                <td>
                    <select multiple="multiple" id="selectRecordingsToAdd" name="recordingsToAdd" size="10" style="width:350px" >
                        @for( r <- rs ) {
                        <option value="@r.id">@r.title, @r.composer, @r.year</option>
                        }
                    </select>
                </td>
                <td align="right" valign="bottom">
                    <input id="buttonAddRecordings" type="button" value="Add Recordings" onclick='addRecordingsToPerformer(this);' />
                </td>
            </tr>
        </table>
    </dd>


</dl>


<script type="text/javascript">

    document.getElementById("divNoRecordings").style.visibility = "@if(p.recordings.isEmpty) {visible} else {hidden}"
    document.getElementById("selectRecordingsToDelete").style.visibility = "@if(p.recordings.isEmpty) {hidden} else {visible}"

    var text_LabelRecordings_Readonly = "Recordings:"
    var text_LabelRecordings_Editing = "Current Recordings: @if(!p.recordings.isEmpty) { (select to delete) }"

    function setReadOnly(readOnly) {

        document.getElementById("inputName").disabled = readOnly
        document.getElementById("inputName").readOnly = readOnly
        document.getElementById("selectPerformerType").disabled = readOnly
        document.getElementById("selectPerformerType").readOnly = readOnly
        document.getElementById("buttonUpdate").disabled = readOnly
        document.getElementById("buttonUpdate").style.visibility = readOnly ? "hidden" : "visible"
        document.getElementById("labelCurrentRecordings").innerHTML = readOnly ? text_LabelRecordings_Readonly : text_LabelRecordings_Editing
        document.getElementById("selectRecordingsToDelete").disabled = readOnly
        document.getElementById("selectRecordingsToAdd").disabled = readOnly
        document.getElementById("selectRecordingsToAdd").readOnly = readOnly
        document.getElementById("buttonDeleteRecordings").disabled = readOnly
        document.getElementById("buttonDeleteRecordings").style.visibility = readOnly ? "hidden" : "visible"
        document.getElementById("buttonDelete").disabled = !readOnly || @if(p.hasRecordings) {true} else {false}
        document.getElementById("buttonDelete").style.visibility = readOnly ? "visible" : "collapse"
        document.getElementById("buttonEdit").disabled = !readOnly
        document.getElementById("buttonEdit").style.visibility = readOnly ? "visible" : "collapse"
        document.getElementById("buttonCancel").disabled = readOnly
        document.getElementById("buttonCancel").style.visibility = readOnly ? "hidden" : "visible"
        document.getElementById("labelUnassignedRecordings").style.visibility = readOnly ? "hidden" : "visible"
        document.getElementById("selectRecordingsToAdd").disabled = readOnly
        document.getElementById("selectRecordingsToAdd").style.visibility = readOnly ? "hidden" : "visible"
        document.getElementById("buttonAddRecordings").disabled = readOnly
        document.getElementById("buttonAddRecordings").style.visibility = readOnly ? "hidden" : "visible"
    }

    setReadOnly(@modeReadOnly)

    var selectRecordingsToDelete = document.getElementById("selectRecordingsToDelete")
    var selectRecordingsToAdd = document.getElementById("selectRecordingsToAdd")

    function deleteRecordingsFromPerformer(buttonDeleteRecordings) {

        window.open("/webApp/performers/@p.id/deleteRecordings/" + collectIds(selectRecordingsToDelete), "_self")
    }

    function addRecordingsToPerformer(buttonAddRecordings) {

        window.open("/webApp/performers/@p.id/addRecordings/" + collectIds(selectRecordingsToAdd), "_self")
    }

    function deletePerformer(buttonDelete) {

        @if(p.hasRecordings) {
            buttonDelete.disabled = true
            alert("You cannot delete this performer as long as recordings are assigned to him. First delete the recordings of this performer. Then you can delete the performer.")
        } else {
            window.open("/webApp/performers/@p.id/delete", "_self")
        }
    }

    function collectIds(selectBox) {

        var selectedIds = [];

        for (var i = 0; i < selectBox.length; i++) {
            if (selectBox.options[i].selected) {
                selectedIds.push(selectBox.options[i].value)
            }
        }

        var selectedIdsAsCSV = "";

        for (var i = 0; i < selectedIds.length; i++) {
            if (i === 0) {
                selectedIdsAsCSV = selectedIdsAsCSV + selectedIds[i]
            } else {
                selectedIdsAsCSV = selectedIdsAsCSV + "," + selectedIds[i]
            }
        }

        return selectedIdsAsCSV
    }

</script>

}
