@import _root_.musicsvc.models.{Recording, Performer}
@import _root_.musicsvc.controllers.OptionalRecordingData
@import helper._


@(rs: Seq[Recording], ps: Seq[Performer], searchForm: Form[OptionalRecordingData])(implicit messages: Messages)

@main("Classic Music Service") {

<h3>Search for Recordings</h3>

@form(action = musicsvc.controllers.routes.WebApplication.recordingsSearch()) {
<table>
    <tr>
        <td>
        @input(searchForm("title"), '_label -> "Title:", '_showConstraints -> false, '_showErrors -> true) { (id, name, value, args) =>
            <input id="inputTitle" type="text" name="@name" value="@value" size="50" maxlength="200" @toHtmlArgs(args) />
        }
        @input(searchForm("composer"), '_label -> "Composer:", '_showConstraints -> false, '_showErrors -> true) { (id, name, value, args) =>
            <input id="inputComposer" type="text" name="@name" value="@value" size="50" maxlength="200" @toHtmlArgs(args) />
        }
        @input(searchForm("yearMin"), '_label -> "Minimum Recording Year:", '_showConstraints -> false, '_showErrors -> true) { (id, name, value, args) =>
            <input id="inputYearMin" type="number" name="@name" value="@value" size="4" maxlength="4" @toHtmlArgs(args) />
        }
        @input(searchForm("yearMax"), '_label -> "Maximum Recording Year:", '_showConstraints -> false, '_showErrors -> true) { (id, name, value, args) =>
            <input id="inputYearMax" type="number" name="@name" value="@value" size="4" maxlength="4" @toHtmlArgs(args) />
        }
        @input(searchForm("performedBy"), '_label -> "Performed by:", '_showConstraints -> false, '_showErrors -> true) { (id, name, value, args) =>
            <select id="selectPerformedBy" name="@name" @toHtmlArgs(args) >
                <option value="">Select a Performer</option>
                @for( p <- ps ) {
                    @if( value != None && value.get == p.id.get.toString ) {
                        <option value="@p.id" selected>@p.name, @p.performerType</option>
                    } else {
                        <option value="@p.id">@p.name, @p.performerType</option>
                    }
                }
            </select>
        }
        </td>
        <td align="right" valign="bottom"> <input id="buttonSearch" type="submit" value="Search" /> </td>
    </tr>
</table>
}

<hr style="width:40%; text-align:left; margin-left:0" />

<h3>List of Recordings</h3>

<table>
    <tr>
        <th>Composer</th>
        <th>Title</th>
        <th>Recording Year</th>
    </tr>
    @for(r <- rs) {
    <tr>
        <td>@r.title</td>
        <td>@r.composer</td>
        <td>@r.year</td>
        <td>
            <input id="buttonDetails" type="button" value="Details" onclick='window.open("/webApp/recordings/@r.id/details", "_self");' />
        </td>
        <td>
            <input id="buttonEdit" type="button" value="Edit" onclick='window.open("/webApp/recordings/@r.id/edit", "_self");' />
        </td>
        <td>
            <input id="buttonDelete" type="button" value="Delete" onclick='window.open("/webApp/recordings/@r.id/delete", "_self");' />
        </td>
        <td>
            <audio controls>
                <source src="/webApp/recordings/@r.id/data" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
        </td>
    </tr>
    }
</table>

<hr style="width:40%; text-align:left; margin-left:0" />

<table>
    <tr>
        <td><input id="buttonNew" type="button" value="New Recording" onclick='window.open("/webApp/recordings/editNew", "_self");' /></td>
        <td><input id="buttonDeleteAll" type="button" value="Delete All Recordings" onclick='window.open("/webApp/recordings/deleteAll", "_self");' /></td>
    </tr>
</table>

<script type="text/javascript">
</script>

}
