
<div class="container">
        
    <div class="row row-dense-content">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a ui-sref="app">Home</a></li>
            </ul>
        </div>
    </div>

    <div class="row row-dense-content">
        <div class="col-xs-12">
            <h2>Description of Music SPA (Single Page Application)</h2>
        </div>
    </div>

    <div class="row row-dense-content">
        <div class="col-xs-12">
            <p>
                This simple App is a "Single Page Application (SPA)", it is
                <ul>
                    <li>a web application running in the browser</li>
                    <li>with web pages being rendered in the browser by AngularJS.</li>
                </ul>
            </p>

            <p>
                The MusicSPA manages music Performers and Recordings. It is a RESTful
                web service client to the web service MusicService.
                The MusicSPA cannot do any work without MusicService being started.
            </p>

            <p>
                With MusicSPA the user can perform the following operations in the browser:

                <ul>
                    <li>Add, change, delete and query Performers and Recordings</li>
                    <li>listen to Recordings</li>
                </ul>
            </p>

            <p>
                The App is a small case study using ...

                <ul>
                    <li>AngularJS as client side Web framework</li>
                    <li>JavaScript as implementation language</li>
                    <li>The ngResource library to access the REST API of the MusicService</li>
                    <li>Bootstrap CSS to enhance the look of the web pages</li>
                    <li>Currently no client authentication to access performers or recordings</li>
                    <li>Currently no client roles with different access priviledges</li>
                </ul>
            </p>

            <p>
                In the current stage the App doesn't implement any security features.
                It offers its interface via HTTP (no HTTPS) and does not require
                the user to log in before accessing recordings on the server.
            </p>

            <p>
                The project build and management of components is based on <i>npm</i>, <i>bower</i> and <i>gulp</i>.
            </p>
        </div>
    </div>

    <div class="row row-dense-content">
        <div class="col-xs-12">
            <p style="padding:30px"></p>
        </div>
    </div>
        
</div>
