<div class="container">
        
    <div class="row row-dense-content">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a ui-sref="app">Home</a></li>
                <li><a ui-sref="app.performers" class="active">Performers</a></li>
            </ul>
        </div>
    </div>

    <div class="row row-dense-content">
        <div class="col-xs-12">
            <h2>Search for Performers &nbsp; &nbsp;
                <a class="btn btn-default btn-sm" ng-click="toggleDisplaySearch()">
                    <small><span class="caret"></span></small>
                </a>
            </h2>
        </div>
    </div>

    <div ng-class="{collapse:!displaySearch}">
        <p style="padding:10px;"></p>
        <form name="searchForm" ng-submit="submitSearchCriteria()" class="form-horizontal" novalidate>

            <div class="form-group">
                <div class="col-xs-12 col-sm-2 control-label">
                    <label for="inputName">Name</label>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <input id="inputName" type="text" name="name" maxlength="200" class="form-control"
                           ng-model="criteria.name" placeHolder="Name">
                </div>
                <div class="col-xs-12 col-sm-2 control-label">
                    <label for="performerType">Performer Type</label>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <select id="performerType" class="form-control" ng-model="criteria.performerType"
                            ng-options='o.value as o.label for o in optionsPerformerType'>
                        <option value="">Select a Performer Type</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-sm-2 control-label">
                    <label for="selectPerformingIn">Performing in</label>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <select id="selectPerformingIn" class="form-control" ng-model="criteria.performingIn"
                            ng-options='r.id as (r.title + " (" + r.composer + ")") for r in recordings track by r.id'>
                        <option value="">Select a Recording</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <label for="buttonSearch"></label>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <input id="buttonSearch" type="submit" value="Search" class="form-control btn btn-primary"
                           data-toggle="tooltip" data-placement="bottom" title="Search for Performers with the specified criteria">
                </div>
                <div class="col-xs-6 col-sm-2">
                    <input id="buttonReset" type="reset" value="Reset" class="form-control btn btn-primary"
                           data-toggle="tooltip" data-placement="bottom" title="Reset the Search Form" ng-click="resetSearch()">
                </div>

                <div class="col-xs-12 col-sm-offset-2 col-sm-10" ng-if="invalidSearchInput">
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        <h3>{{searchInputMessage}}</h3>
                    </div>
                </div>
            </div>
            
        </form>
    </div>

    <div class="row row-dense-content">
        <div class="col-xs-12">
            <h2>List of Performers &nbsp; &nbsp; &nbsp;
                <small><input type="button" value="JSON" class="btn btn-xs" ng-click="showPerformersAsJSON()"></small>
            </h2>
        </div>
    </div>

    <div class="row row-dense-content" ng-if="performers.length < 1">
        <div class="col-xs-12">
            <p>--- No Performers ---</p>
        </div>
    </div>

    <div class="row row-dense-content">
        <div class="col-xs-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="p in performers">

                    <div class="panel-heading" id="headingPerformer_{{p.id}}">
                        <h4 class="panel-title">
                            <a data-parent="#accordion" ng-click="toggleCollapse(p.id)">
                                {{p.name}} &nbsp; <small> - <strong><strong>&nbsp; {{p.performerType}}</strong></small>
                            </a>
                        </h4>
                    </div>  <!-- panel-heading -->

                    <div class="panel-collapse" ng-class="{collapse:isCollapsed(p.id)}">
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>Performing in</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li ng-if="p.recordings.length < 1">--- No Recordings assigned to this Performer ---</li>
                                        <li ng-repeat="r in p.recordings">{{r.title}}, {{r.composer}}, {{r.year}}</li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Actions</dt>
                                <dd>
                                    <ul class="list-inline">
                                        <li>
                                            <input type="button" value="Edit" class="btn btn-xs" ui-sref="app.performerEdit({id: p.id})">
                                        </li>
                                        <li>
                                            <input type="button" value="Delete" class="btn btn-xs" ng-click="deletePerformer(p.id, true)"
                                                   ng-disabled="p.recordings.length > 0">
                                        </li>
                                        <li>
                                            <input type="button" value="JSON" class="btn btn-xs" ng-click="showPerformerAsJSON(p.id)">
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>  <!-- panel-body -->
                    </div>  <!-- panel-collapse -->

                </div>  <!-- panel -->
            </div>  <!-- panel-group -->
        </div>  <!-- col-xs-12 -->
    </div>  <!-- row -->

    <div class="row row-dense-content">
        <div class="col-xs-6 col-sm-3">
            <button id="buttonNew" class="btn btn-default btn-sm btn-block" ui-sref="app.performerEdit({id: -1})"
                    data-toggle="tooltip" data-placement="bottom" title="Create a new Performer">
                New Performer
            </button>
        </div>
        <div class="col-xs-6 col-sm-3" ng-if="performers.length > 0">
            <button id="buttonDeleteAll" class="btn btn-default btn-sm btn-block" ng-click="deleteAllPerformers(true)"
                    data-toggle="tooltip" data-placement="bottom" title="Delete All Performers that don't have Recordings assigned"
                    ng-disabled="!canDeleteAllPerformers(performers)">
                Delete All Performers
            </button>
        </div>
    </div>

    <div class="row row-dense-content" ng-if="performers.length > 0 && !canDeleteAllPerformers(performers)">
        <div class="col-xs-12">
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
                <p>{{messageCannotDeletePerformer}}</p>
            </div>
        </div>
    </div>

</div>
